@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 100;
    background-color: #f3f5f8;
    /* border: solid black 2px; */
}
/* .blogged{
    height: 500px;
} */
.blogged, .skills_container{
    height: auto;
}
.blog_contained{
    position: relative;
    justify-items: center;
    width: inherit;
    top: 50px;
    /* left: 50px; */
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-gap:50px ;
}
.skcontai{
    position: relative;
    justify-items: center;
    padding: 60px;
    height: auto;
    width: inherit;
    top: 50px;
    /* left: 50px; */
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-gap:100px ;
}
.skillName{
    font-weight: 1000;
}
 .skdiscript{
    font-size: small;
    align-items: center;
    font-family: 'Secular One', sans-serif;
    /* border-bottom: 2px solid black; */
}
.skimg{
width: 200px;
position: relative;
left: 150px;
font-family: 'Secular One', sans-serif;
}
.skillName{
    position: relative;
    text-align: center;
    right:28px;
    font-family: 'Secular One', sans-serif;

}
.skHeader, .bHeader{
    text-align: center;
    font-family: 'Secular One', sans-serif;
    /* border-bottom: 2px solid black; */
}
.about{
    padding: 60px;
}
.about_blob,.reflection_blob{
    font-size: small;
    width: 1000px;
    text-align: left;
    font-family: 'Secular One', sans-serif;
}
.reflect{
    position: relative;
    bottom: 200px;
}
.WorkExperience{
    position: relative;
    bottom: 100px;
    left: 1100px;
}
.Qualifications{
    position: relative;
    bottom: 200px;
    left: 1100px;
}
.blog_link{
    padding: 0px;
    margin: 0px;
    height: 250px;
    width: 300px;
    border: solid black 2px;
    border-radius: 30px;
    transition: all 0.3s ;
    box-shadow: 0 15px 10px rgb(0,0,0,0.4);
    /* transform: scale(0); */
}
@keyframes expand {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 1400px;
        height: 600px;
        /* bottom: 50%;
        right: 50%; */
        transform: translate(0%, -21.5%);
    }
}
@keyframes detract {
    100% {
        height: 200px;
        width: 300px;
    }
}
.blog_link:hover{
    /* height: 210px; */
    /* width: 310px; */
    transform: scale(1.1);
}
.blog_body{
    position: relative;
    bottom: 50px;
    left: 100px;
    font-family: 'Secular One', sans-serif;
    justify-content: center;
    width: 1000px;
}
/* .blog_img{
    margin: 0px;
    padding: 0px;
    border-top-right-radius:20px ;
    border-top-left-radius:20px ;
   height: 180px;
   min-width: 300px;
   width: auto; 
} */
.blog_img>img{
    margin: 0px;
    padding: 0px;
    border-top-right-radius:30px ;
    border-top-left-radius:30px ;
    height: 225px;
    width: 296px;
    /* width: auto;  */
}
.blog_title{
    position: relative;
    /* top: 155px; */
    text-align: center;
}
.blog_container{
    /* visibility: hidden; */
    height: inherit;
    width: 1400px;
    position: absolute;
    top: 100px;
    background-color: #f3f5f8;
    justify-content: center;
    padding: 25px 50px;
}
.blog{
    height: 80vh;
    width: inherit;
    border: solid black 1.5px;
    border-radius: 30px;
    box-shadow: 0 15px 10px rgb(0 0 0 / 40%);
}
.blog_nav{
    padding: 0px;
}

.header{
    font-family: 'Secular One', sans-serif;
    position: relative ;
    left: 60px;
    top: 40px;
}
.header>h1{
    font-size: 2.5em;
    margin: 0px;
    width: 1000px;
}
.closeB{
    position: relative;
    left: 1300px;
    bottom: 40px;;
    background: transparent;
    height: 35px;
    width: 35px;
    border-radius: 150px;
    /* text-align: center; */
    /* border: transparent; */
}
.image{
    position: relative;
    /* right: 250px; */
    left: 75%;
    bottom: 30%;
    width: 200px;
    height: 300px;
}
.image2{
    position: relative;
    left: 20px;
    top: 10px;
    width: 20px;
    height: 30px;
}
.material-symbols-outlined {
    position: relative;
    bottom:5px ;
    right: 11px;
    border-radius: 550px;
    background-color: orange;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48
}
.material-symbols-outlined:hover {
    background-color: red;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}